<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="welcome" *ngIf="isCollapsed == false">
      <div>Welcome</div>
      {{ username }}
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/dashboard/fdtplaces">
        <i nz-icon nzType="environment" nzTheme="outline"> </i> <span>Map</span>
      </li>
      <li nz-menu-item routerLink="/dashboard/statistics">
        <i nz-icon nzType="line-chart" nzTheme="outline"></i>
        <span>Statistics</span>
      </li>
      <li nz-menu-item routerLink="/dashboard/request">
        <i nz-icon nzType="plus" nzTheme="outline"></i>
        <span>request</span>
      </li>
      <li nz-menu-item routerLink="/dashboard/fdtList">
        <i nz-icon nzType="ordered-list" nzTheme="outline"></i>
        <span>Boite list</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <i
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
      ></i>
      <div class="notifIcon" (click)="fetchNotification()">
        <a
          nz-dropdown
          nzTrigger="click"
          [nzDropdownMenu]="menu"
          nzPlacement="bottomRight"
        >
          <i nz-icon nzType="bell" nzTheme="outline"></i>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul
            nz-menu
            nzSelectable
            *ngIf="notification.length > 0; else nonotif"
          >
            <li *ngFor="let item of notification; let i = index">
              <div
                *ngIf="item.type == 'error'; else notifInfo"
                class="notifComponent"
                [ngStyle]="{
                  'border-bottom':
                    notification.length - 1 == i ? 'none' : '0.5 solid'
                }"
              >
                <i
                  nz-icon
                  nzType="warning"
                  nzTheme="twotone"
                  nzTwotoneColor="red"
                  style="font-size: 30px; margin-top: 7px; padding-right: 15px"
                ></i>
                <div>
                  <a
                    routerLink="/dashboard/notification/{{ item.id }}"
                    class="notifElement"
                  >
                    <div class="notifTitle">
                      {{ item.fdtName }}
                    </div>
                    <div class="notifTime">
                      {{ this.fixtimeForm(item.created_at) }}
                    </div>
                  </a>
                </div>
              </div>
              <ng-template #notifInfo>
                <div class="notifComponent">
                  <i
                    nz-icon
                    nzType="info-circle"
                    nzTheme="outline"
                    
                    style="
                      color:#AADAFF;
                      font-size: 30px;
                      margin-top: 7px;
                      padding-right: 15px;
                    "
                  ></i>
                  <div>
                    <a routerLink="/dashboard/request" class="notifElement">
                      <div class="notifTitle">
                        {{ item.fdtName }}
                      </div>
                      <div class="notifTime">
                        {{ this.fixtimeForm(item.created_at) }}
                      </div>
                    </a>
                  </div>
                </div>
              </ng-template>
            </li>
          </ul>

          <ng-template #nonotif>
            <ul nz-menu nzSelectable>
              <li style="padding: 10px">
                <nz-empty nzNotFoundContent="no notification"></nz-empty>
              </li>
            </ul>
          </ng-template>
        </nz-dropdown-menu>

        <nz-badge [nzDot]="dot"></nz-badge>
        <nz-avatar
          [nzSize]="32"
          nzIcon="user"
          nz-dropdown
          [nzDropdownMenu]="LogoutMenu"
          nzPlacement="bottomRight"
        ></nz-avatar>
        <nz-dropdown-menu #LogoutMenu="nzDropdownMenu">
          <ul nz-menu class="LogoutItem">
            <button (click)="logout()" class="logoutBtn" routerLink="/">
              <i
                nz-icon
                nzType="logout"
                nzTheme="outline"
                class="logOutIcon"
              ></i>
              Logout
            </button>
          </ul>
        </nz-dropdown-menu>
      </div>
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
