.parent {
  display: flex;
  justify-content: space-around;
}

.container {
  font-size: 25px;
  height: 200px;
  width: 200px;
  background-color: #012343;
  color: white;
}

.divider {
  height: 2px;
  color: white;
}
