<div style="background: #ececec; padding: 25px">
  <nz-row [nzGutter]="16">
    <nz-col [nzSpan]="12">
      <nz-card>
        <nz-statistic
          nzValue="{{ this.fixtimeform }}"
          [nzTitle]="'problem time'"
          [nzPrefix]="prefixTplOne"
          [nzValueStyle]="{ color: '#3F8600' }"
        ></nz-statistic>
        <ng-template #prefixTplOne
          ><i nz-icon nzType="clock-circle" nzTheme="outline"></i
        ></ng-template>
      </nz-card>
    </nz-col>
    <nz-col [nzSpan]="12">
      <nz-card>
        <nz-statistic
          nzValue="{{ notification.value }}"
          [nzTitle]="'value'"
          [nzPrefix]="prefixTplTwo"
          [nzValueStyle]="{ color: '#CF1322' }"
        ></nz-statistic>
        <ng-template #prefixTplTwo
          ><i nz-icon nzType="arrow-down"></i
        ></ng-template>
      </nz-card>
    </nz-col>
  </nz-row>
</div>

<iframe
  id="test"
  width="1310"
  height="500"
  style="border: 0; margin-top: 20px"
  allowfullscreen=""
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade"
></iframe>

<div class="chartsParent">
  <div id="avgBoxValue" style="width: 500px; height: 500px"></div>
  <div id="valuePerDay" style="width: 700px; height: 500px"></div>
</div>
