<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
>
  <agm-marker
    (markerClick)="getCurrentValueSegnal(m.id)"
    *ngFor="let m of fdtlist"
    [latitude]="m.fdtLat"
    [longitude]="m.fdtLng"
  >
    <agm-info-window>
      <div class="title">Name :</div>
      {{ m.fdtName }}

      <div class="title">Fdtvalue :</div>
      {{ fdtvalue }}

      <div class="title">Created at :</div>
      {{ this.fixtimeForm(m.created_at) }}
    </agm-info-window>
  </agm-marker>
</agm-map>
