<form nz-form [formGroup]="validateForm" (ngSubmit)="submit()">
    <nz-tabset class="tabs">
      <nz-tab nzTitle="S'identifier">
        <!-- TODO if connection error (when init the component) alert -->
        <nz-form-item>
          <nz-form-control nzErrorTip="L'email n'est pas valide!">
            <nz-input-group nzPrefixIcon="user" nzSize="large">
              <input
                formControlName="email"
                nz-input
                placeholder="Address Email"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
  
        <nz-form-item>
          <nz-form-control nzErrorTip="Veuillez entrez votre mot de passe!">
            <nz-input-group nzPrefixIcon="lock" nzSize="large">
              <input
                formControlName="password"
                nz-input
                placeholder="Votre mot de passe" 
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <button
          nz-button
          class="login-form-button login-form-margin"
          [nzType]="'primary'"
        >
          S'identifier
        </button>
      </nz-tab>
    </nz-tabset>
  </form>